body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h2 {
   font-family: 'Montserrat', sans-serif;
   margin: 5px;
}

.dateline {
    font-size: 0.9em;
}

header p {
  text-align: center;
}

.entry p {
    margin: 5px;
}

.entry_body {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 30px;
}

li {
  display: inline;
  padding:  0em 2em;
  list-style-type: none;
}

ul {
  display: inline;
  text-align: center;
  padding: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color:  lightblue
}

a:visited {
  color: lightgreen;
}

a:hover {
  color: black;
}

input {
  float: right;
  clear: both;
  width: 90%
}

label {
  float: left;
  clear: both;
  width: 5%
}

textarea {
  float: right;
  clear: both;
  width: 90%;
  height: 10em;
}

header {
  background-color: darkcyan;
  padding: 1em 0em;
  margin: 0px 0px 1em 0px;
  border: 0px;
}

button {
  float: left;
  clear: both;
  margin-bottom: 1em;
}

footer {
  margin-top: 1em;
  padding-top: 2em;
  font-size: 0.8em;
  clear: both;
  border-top: solid 5px lightblue;
}