<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Python Learning Journal</title>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="/static/style.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
        <h1>Megan's Python Journal</h1>
        <p>Things I've learned</p>
            <nav id="user-controls">
                <ul>
                    <li><a href="/">Home</a></li>
                {% if not request.authenticated_userid %}
                    <li><a href="{{ request.route_url('login') }}">Log In</a></li>
                {% else %}
                    <li><a href="{{ request.route_url('logout') }}">Log Out</a></li>
                    <li><a href="{{ request.route_url('write') }}">Write an Entry</a></li>
                {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <section id="content">
            {% block body %}{% endblock %}
            </section>
        </main>
        <footer>
            <p>Created in the Code Fellows Python Dev Accelerator</p>
        </footer>
    </body>
</html>