{% extends "base.jinja2" %}
{% block body %}
     <article class="entry" id="{{ entry.id }}">
        <h2>{{ entry.title }}</h3>
        <p class="dateline">{{ entry.created.strftime('%b. %d, %Y') }}</p>
        <hr/>
        <div class="entry_body">
            {{ entry.markdown|safe }}
        </div>
        <div class="control_row">
            <a href="{{ request.route_url('edit', id=entry.id, title=entry.title) }}">Edit</a>
        </div>
    </article>
{% endblock %}