{% extends "base.jinja2" %}
{% block body %}
 <article class="entry" id="{{ entry.id }}">
    <h2 id="entry-title">{{ entry.title }}</h3>
    <p class="dateline">{{ entry.created.strftime('%b. %d, %Y') }}</p>
    <hr/>
    <div class="entry_body" id="entry-text">
        {{ entry.markdown|safe }}
    </div>
    <div class="control_row">
        <a id="edit-link" href="{{ request.route_url('edit', id=entry.id, title=entry.title) }}">Edit</a>
    </div>
</article>
<div class="hide-on-start" id="edit-form-container">
    <form id="edit-form" action="{{ request.route_url('edit', id=entry.id, title=entry.title)}}" method="POST">
        <input id="form-id" type="hidden" value="{{ entry.id }}">
        <input id="form-title" name="title" type="text" value="{{ entry.title }}">
        <textarea id="form-text" name="text">{{ entry.text }}</textarea>

        <div class="control_row">
            <a id="update-link" href="{{ request.route_url('permalink', id=entry.id, title=entry.title) }}">Update</a>
        </div>
    </form>
</div>
<a id='twitter' href="https://twitter.com/share" class="twitter-share-button" data-via="meslater1030">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endblock %}