<!DOCTYPE html>
<html>
<head>
    <title>What a great demo</title>
</head>
<body>
<header>
{% block header_stuff %}
This is my header
{% endblock %}
</header>

{%block foobar %}{% endblock %}

</body>
</html>