{% extends "skeleton.jinja2" %}

{% block header_stuff %}
something about overriding that header block with local stuff
{% endblock %}

{% block foobar %}
<h1>This is a page<h1>
<p>Look at it it's sooooooooooo {{ one }}!</p>

<a href="{{ request.route_url('other', special_val=42) }}">clickme</a>

<ol>
    {%for thing in stuff%}
    <li>{{ thing }}</li>
    {% endfor %}
</ol>
{% endblock %}